<div class="grid m-0">
  <div class="col-3">
    <img class="badLulu-logo" src="../../../assets/badlulu-icon.svg" alt="" />
  </div>
  <div class="col-6 text-center menu">
    <app-nav-menu></app-nav-menu>
  </div>
  <div class="col-3 text-center enlaces">
    <app-enlaces
      [icons]="['pi pi-instagram','pi pi-whatsapp','pi pi-book']"
      [links]="['https://www.instagram.com/badlulu.nails/','https://api.whatsapp.com/send?phone=543856784454','https://drive.google.com/file/d/1Vos9k4fcP9iw-LGvtbmcdW-0zFqPDZyy/view']"
    ></app-enlaces>
  </div>
</div>
